div.result-component {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100%;

    img.tw-logo {
        width: 50%;
        margin-bottom: -1%;
        margin-top: 35px;
    }
    h2,
    h3 {
        font-size: 1.1rem;
    }

    img.aura-photo{
        width: 100%;
        margin-top: 1.5rem;
        box-shadow: 0 0 17px 2px rgba(#000,.31);
    }

    .profile-text{
        h4{
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 300;
            padding: 0 3rem;
            margin: 1.3rem 0;
            line-height: 2rem;
            text-transform: uppercase;
        }

        p{
            font-size: .875rem;
            font-weight: 300;
            
        }
    }

    .share{
        margin: 1.5rem;
        h6{
            font-weight: 700;
            font-style: italic;
            font-size: .9rem;
            letter-spacing: 0.5px;
        }
        div.social-media-icons{
            font-size: 1.5rem;
            a{
                margin: 0 9px;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .home{
        h6{
            font-weight: 700;
            font-style: italic;
            font-size: .9rem;
            letter-spacing: 0.5px;
            text-decoration: underline;
            cursor: pointer;
            margin: 0 0 2rem;
        }
    }
        
}