div.result-component {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100%;

    img.tw-logo {
        width: 50%;
        margin-bottom: -1%;
        margin-top: 35px;
    }
    h2,
    h3 {
        font-size: 1.1rem;
    }

    img.aura-photo{
        width: 100%;
        margin-top: 1.5rem;
    }

    .profile-text{
        h4{
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 300;
            padding: 0 3rem;
            margin: 1.3rem 0;
            line-height: 2rem;
        }

        p{
            font-size: .875rem;
            font-weight: 300;
            
        }
    }

    .share{
        margin: 1.5rem;
        h6{
            font-weight: 700;
            font-style: italic;
            font-size: .875rem;
        }
        div.social-media-icons{
            font-size: 2rem;
            letter-spacing: 4px;
        }
    }
        
}