.quizz-component {
    
    height: 100%;
    .question {
        height: 93%;
    }
    .dots {
        height: 7%;
        p {
            width: 100%;
            text-align: center;
            >i {
                font-size: 1.4rem;
                margin: 0 .5rem;
                color: #fff;
            }
        }
    }
}