div.home-component {
    &::after {
        content: "";
        //background: url('../../../assets/rectangle@2x.png');
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    
    height: 100%;
    div.content {
        margin-top: 15%;
        @media only screen and (min-width: 60rem) {
            margin-top: 0;
        }
    }
    img.tw-logo {
        width: 75%;
        margin-bottom: -3%;
    }
    h2,
    h3 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-size: 1.7rem;
    }
    .button-box {
        margin: 70% 0% 20% 0;
        @media only screen and (min-width: 60rem) {
            margin-top: 55%;   
        }
        .home-btn {
            margin: 2% 0;
            color: #334373;
            cursor: pointer;
            +h3 {
                margin-top: 7%;
                @media only screen and (min-width: 60rem) {
                    margin-top: 2%; 
                }
            }
        }
    }
}