<div class="home-component">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-6 text-center">
      <div class="content">
        <img class="tw-logo" src="assets/tw-logo-white.png" alt="ThoughtWorks Logo">
        <h3 class="text-uppercase font-weight-light font-italic">
          eCommerce Day 2019
        </h3>
        <div class="button-box">
          <button class="btn btn-lg btn-light rounded-circle" (click)="start()">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
          <h3 class="text-uppercase font-italic font-weight-bold">
            Empezar
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>