<div class="result-component">
  <div class="row justify-content-center">
    <div class="col-9 text-center">
      <img src="assets/tw-logo-blue.png" alt="ThoughtWorks Blue Logo" class="tw-logo">
      <p class="almost-text">
        <span class="bold">OBRIGADO</span>. VOCÊ RECEBERÁ O RESULTADO DO SEU <span class="bold">PERFIL DE PESSOA INOVADORA</span> PELO EMAIL FORNECIDO.
      </p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="false">
    <div class="col-9 code-box">
      <i class="fa fa-check-circle done" aria-hidden="true"></i>
      <p>Seu código é</p>
      <h1>{{id}}</h1>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="false">
    <div class="col-9 text-center steps">
      <h3>
        Durante o Evento:
      </h3>
      <ol class="steps-list">
        <li>Procure o iPad no nosso estande</li>
        <li>Use o código para fazer login</li>
        <li>Siga as instruções na tela</li>
        <li>Revise a foto e nossos termos de uso</li>
      </ol>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 button-box">
      <a class="btn btn-lg rounded-circle" [routerLink]="[ '/' ]">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <h3>
        Voltar ao Início
      </h3>
    </div>
  </div>
</div>
