div.result-component {
    height: 100%;
    div.content {
        margin-top: 15%;
    }
    img.tw-logo {
        width: 55%;
        margin: 4rem 0 1rem 0;
    }
    .almost-text {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        span.bold {
            font-weight: 700;
        }
    }
    .code-box {
        font-family: "Open Sans";
        padding: 1.2rem 6%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 18px 0px #0000003b;
        text-align: center;
        .done {
            font-size: 4rem;
            color: rgb(14, 173, 105);
            margin-bottom: .5rem;
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 0;
        }
        h1 {
            font-weight: 700;
        }
    }
    .steps {
        color: #4A4A4A;
        font-family: "Open Sans";
        margin-top: 1.4rem;
        h3 {
            padding: 0 15%;
            font-size: 1.1rem;
        }
        ul, ol {
            font-size: .9rem;
            line-height: 1.85rem;
            font-weight: 300;
            padding-left: 1rem;
            margin: 0;
            text-align: left;
            margin-bottom: 2rem;
        }
    }

    .button-box {
        display: none;
        text-align: center;
        margin: 2rem 0;
        .btn[disabled] {
            background-color: #e6e6e6;
        }
        .btn {
            background-color: #074c9d;
            color: #fff;
            +h3 {
                margin-top: 3%;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-size: 1.25rem;
                font-weight: 700;
                color: #064c9c;
                
                @media only screen and (min-width: 60rem) {
                    margin-top: 2%; 
                }
            }
        }
    }
}
