@charset "UTF-8";

input.btn {
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased
}

input,
select,
textarea {
    display: inline-block;
    height: 2.4em;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #ebebeb;
    color: #666;
    border-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0;
    border-bottom: 2px solid #d7d7d7
}

label.location-label {
    float: left;
    clear: none;
    display: block;
    padding: .4em 1em 0 .5em
}

input[type=radio].event-city {
    float: left;
    clear: left;
    margin: 2px 0 0 2px;
    width: auto
}

select {
    width: 100%;
    line-height: 1em
}

textarea {
    line-height: 1.5em
}

.required {
    margin-left: .3em;
    font-weight: 700;
    color: #ef5ba1
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b3b3b3
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b3b3b3
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b3b3b3
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b3b3b3
}

input[type=submit] {
    -webkit-appearance: none;
    width: auto
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 0 1px #000;
    outline: 0;
    border-color: #666
}

label {
    display: block;
    margin-bottom: .2em
}

.form-response-message {
    margin: 0 0 2em;
    font-size: .9em
}

.error input {
    border-color: #ce3b00
}

.mktoForm * {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif!important
}

.mktoGen.mktoImg,
object {
    max-width: 100%
}

.mktoText.twString>:last-child {
    margin-bottom: 0
}

.mktoForm .mktoButtonWrap {
    display: block;
    margin-left: 0!important;
    margin-top: 0
}

input[type=submit] {
    background: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 12.5px 50px;
    transition: all .2s ease-out
}

.mktoForm fieldset legend,
.mktoForm input[type=reset] {
    display: none
}

.lpeRegForm label,
label {
    width: auto!important;
    line-height: 1.2em;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    color: #666!important;
    font-weight: 100!important;
    font-size: 18px
}

.mktoForm {
    width: 100%!important
}

.mktoForm li {
    padding-left: 0
}

.mktoForm ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.mktoForm button[type=submit],
.mktoForm input[type=submit] {
    width: 100%;
    padding: 12.5px 25px!important
}

input[type=email] {
    display: inline-block!important;
    box-sizing: border-box!important;
    height: 2.4em;
    margin-bottom: 5px!important;
    padding: 5px 15px!important;
    background-color: #EBEBEB!important;
    border-radius: 0!important;
    border-width: 0!important;
    border-bottom: 2px solid #D7D7D7!important;
    box-shadow: inset 0 0 1px #D7D7D7;
    color: #666!important;
    /*font-size: 18px!important;*/
    transition: all .2s ease-out
}

input[type=email]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
    border-color: #666!important;
    box-shadow: inset 0 0 1px #000;
    outline: 0!important
}

input[type=checkbox],
input[type=checkbox]:focus {
    width: auto!important
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color: #000!important;
    background-image: none!important;
    border: none!important;
    border-radius: 2px;
    color: #fff!important;
    display: inline-block;
    font-size: 20px!important;
    padding: 12.5px 50px!important;
    transition: all .2s ease-out
}

.mktoForm .mktoFormCol {
    float: none!important;
    margin-bottom: 0!important
}

.mktoForm .mktoLabel {
    width: auto!important;
    padding-bottom: 10px!important;
    padding-top: 10px!important
}

.mktoForm .mktoFormRow a {
    padding: 0
}

.mktoForm .mktoLabel.checkboxLabel {
    float: none;
    margin-left: 25px
}

.mktoForm .mktoLabel.checkboxLabel~.mktoGutter {
    display: none
}

.mktoForm div:last-child .mktoFieldDescriptor {
    background-color: #fcf8e3
}

.mktoForm .mktoLabel[for=consent_Privacy_Policy] {
    font-style: italic
}

.mktoForm .mktoLabel[for=consent_Privacy_Policy] a {
    color: #ef5ba1;
    text-decoration: underline
}

.mktoForm .mktoLabel[for=consent_Privacy_Policy],
.mktoForm .mktoLabel[for=subscriptionPerspectives] {
    margin-left: 25px
}

.mktoForm .mktoLabel.checkboxLabel~.mktoCheckboxList,
.mktoForm .mktoLabel~.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px
}

.mktoField {
    width: 100%!important
}

.mktoFieldWrap {
    float: none!important;
    margin-bottom: 10px!important
}

.mktoEmailField,
.mktoTextField {
  font-size: 1.2em!important;
  padding: 2px 12px!important
}

.mktoButtonRow {
    display: block!important;
    margin-top: 5px!important
}

.mktoGutter,
.mktoOffset {
    display: none
}

@media only screen and (max-width:480px) {
    .mktoForm input[type=date],
    .mktoForm input[type=email],
    .mktoForm input[type=number],
    .mktoForm input[type=tel],
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm textarea.mktoField {
        height: auto!important
    }
    .mktoForm .mktoFormRow .mktoRequiredField .mktoAsterix {
        float: right!important;
        padding-left: 5px!important;
        padding-right: 0!important
    }
    .mktoForm fieldset {
        padding: 0!important
    }
    .mktoForm textarea[rows="2"] {
        height: 3.4em!important
    }
}
