<div class="subscription-component">
  <div class="row justify-content-center">
    <div class="col-9 text-center">
      <img src="assets/tw-logo-blue.png" alt="ThoughtWorks Blue Logo" class="tw-logo">
      <p class="almost-text">
        Estamos quase terminando. Para
        <span class="bold">REVELAR SUA IMAGEM</span> preencha
        <span class="bold">OS DADOS ABAIXO</span>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 form-box">
      <form [formGroup]="personForm">
        <div class="form-group">
          <i class="fa fa-times" aria-hidden="true" *ngIf="name.value" (click)="clear(name)"></i>
          <input class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.invalid && name.dirty}" placeholder="NOME COMPLETO">
          <small class="text-danger" *ngIf="name.invalid && name.dirty">VERIFIQUE SEU NOME.</small>
        </div>
        <div class="form-group">
          <i class="fa fa-times" aria-hidden="true" *ngIf="company.value" (click)="clear(company)"></i>
          <input class="form-control" formControlName="company" [ngClass]="{'is-invalid': company.invalid && company.dirty}" placeholder="EMPRESA">
          <small class="text-danger" *ngIf="company.invalid && company.dirty">VERIFIQUE SUA EMPRESA.</small>
        </div>
        <div class="form-group">
          <i class="fa fa-times" aria-hidden="true" *ngIf="role.value" (click)="clear(role)"></i>
          <input class="form-control" formControlName="role" [ngClass]="{'is-invalid': role.invalid && role.dirty}" placeholder="CARGO">
          <small class="text-danger" *ngIf="role.invalid && role.dirty">VERIFIQUE SEU CARGO.</small>
        </div>
        <div class="form-group">
          <i class="fa fa-times" aria-hidden="true" *ngIf="email.value" (click)="clear(email)"></i>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && email.dirty}" formControlName="email"
            [email]="true" placeholder="EMAIL">
            <small class="text-danger" *ngIf="email.invalid && email.dirty">VERIFIQUE SEU E-MAIL. ESTÁ CORRETO?</small>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 button-box">
      <button class="btn btn-lg rounded-circle">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>



</div>