div.subscription-component {
    height: 100%;
    div.content {
        margin-top: 15%;
    }
    img.tw-logo {
        width: 55%;
        margin: 4rem 0 1rem 0;
    }
    .almost-text {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        span.bold {
            font-weight: 700;
        }
    }
    .form-box {
        padding: 10% 6%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 18px 0px #0000003b;
        .form-group {
            position: relative;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
            label {
                color: #9B9B9B;
                position: absolute;
                font-size: .7rem;
                top: -.9rem;
                opacity: 0;
                text-transform: uppercase;
                transition: all ease-in .3s;
                &.shown{
                    opacity: 1;
                }
            }
            small.text-danger {
                font-family: "Open Sans";
                position: absolute;
                text-transform: uppercase;
            }
            i {
                position: absolute;
                top: .55rem;
                right: 0;
                font-size: 1.2rem;
                color: #495057;
            }
        }
        input, select {
            $color: #979797;
            $invalid-color: #D0021B;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $color;
            padding-left: 0;
            color: #495057;
            text-transform: uppercase;
            margin-bottom: 3px;
            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $color;
                opacity: .7;
                /* Firefox */
            }
            &:focus {
                box-shadow: none;
            }
            &.ng-dirty.ng-invalid {
                color: $invalid-color;
                border-bottom: 1px solid $invalid-color;
                &::placeholder {
                    color: $invalid-color;
                }
            }
        }
    }
    .button-box {
        text-align: center;
        margin: 2rem 0;
        .btn[disabled] {
            background-color: #e6e6e6;
        }
        .btn {
            background-color: #074c9d;
            color: #fff;
        }
    }
}