<div class="subscription-component">
  <div class="row justify-content-center">
    <div class="col-9 text-center">
      <img src="assets/tw-logo-blue.png" alt="ThoughtWorks Blue Logo" class="tw-logo">
      <p class="almost-text">
        Estamos quase terminando. Para
        <span class="bold">REVELAR SUA IMAGEM</span> preencha
        <span class="bold">OS DADOS ABAIXO</span>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 form-box" *ngIf="accessForm">
      <form [formGroup]="personForm" id="mktoForm_9089"></form>
    </div>

    <div class="col-9 form-box" *ngIf="radarForm">
      <form [formGroup]="personForm">
        <div class="form-group">
          <label [ngClass]="{'shown': name.value}">NOME</label>
          <i class="fa fa-times" aria-hidden="true" *ngIf="name.value" (click)="clear(name)"></i>
          <input class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.invalid && name.dirty}" placeholder="NOME">
          <small class="text-danger" *ngIf="name.invalid && name.dirty">VERIFIQUE SEU NOME.</small>
        </div>
        <div class="form-group">
          <label [ngClass]="{'shown': company.value}">EMPRESA</label>
          <i class="fa fa-times" aria-hidden="true" *ngIf="company.value" (click)="clear(company)"></i>
          <input class="form-control" formControlName="company" [ngClass]="{'is-invalid': company.invalid && company.dirty}" placeholder="EMPRESA">
          <small class="text-danger" *ngIf="company.invalid && company.dirty">VERIFIQUE SUA EMPRESA.</small>
        </div>
        <div class="form-group">
          <label [ngClass]="{'shown': email.value}">E-MAIL</label>
          <i class="fa fa-times" aria-hidden="true" *ngIf="email.value" (click)="clear(email)"></i>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && email.dirty}" formControlName="email"
            [email]="true" placeholder="EMAIL">
            <small class="text-danger" *ngIf="email.invalid && email.dirty">VERIFIQUE SEU E-MAIL. ESTÁ CORRETO?</small>
        </div>
        <div class="form-group">
          <label [ngClass]="{'shown': function.value}">FUNÇÃO</label>
          <select class="form-control" formControlName="function" [ngClass]="{'is-invalid': function.invalid && function.dirty}" placeholder="FUNÇÃO">
            <option value="" disabled selected hidden>FUNÇÃO</option>
            <option>Analista de Negócios (BA)</option>
            <option>Analista de Qualidade (QA)</option>
            <option>Cientista de Dados / Engineering</option>
            <option>DevOps / Consultora de Infraestrutura</option>
            <option>Designer de Experiência</option>
            <option>Estudante</option>
            <option>Gerente de Produto</option>
            <option>Gerente de Programa</option>
            <option>Gerente de Projetos</option>
            <option>Desenvolvedora de Software</option>
            <option>Outro</option>
          </select>
          <small class="text-danger" *ngIf="function.invalid && function.dirty">VERIFIQUE SUA FUNÇÃO.</small>
        </div>
        <div class="form-group checkbox-group">
          <input type="checkbox" class="form-control" formControlName="events_permission">
          <label class="shown">Assine à nossa mailing list de eventos.</label>
        </div>
        <div class="form-group checkbox-group">
          <input type="checkbox" class="form-control" formControlName="radar_permission">
          <label class="shown">Assine à mailing list do Technology Radar.</label>
        </div>
        <div class="form-group checkbox-group">
          <input type="checkbox" class="form-control" formControlName="information_share_permission">
          <label class="shown">Concordo em compartilhar meus dados com a ThoughtWorks e entendo que serão usados conforme descrito na <a href="https://www.thoughtworks.com/privacy-policy" target="_blank">política de privacidade.</a></label>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="radarForm">
    <div class="col-9 button-box">
      <button class="btn btn-lg rounded-circle" [disabled]="!personForm.valid" (click)="save()">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
